* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HOME-BANNER */
.about-banner {
    background-image: url(./images/About-US.jpg);
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 71vh;
}


/* know-us-section */
.know-us-section {
    background-color: #100F0F;
    color: aliceblue;
}

.know-us-text {
    text-align: justify;
    padding: 0 70px;
    font-size: 17px;
}

/* ABOUT-FEATURES-CARD */
.about-card {
    height: 26rem;
    width: 26rem;
    background-color: #100F0F;
    color: #FFFFFF;
    margin: auto;
}

.speed-icon {
    border: 3px solid #F9F18A;
    border-radius: 50%;
    display: inline-block;
}

.speed-icon i {
    padding: 20px 15px;
    color: #F9F18A;
}

.cost-icon {
    border: 3px solid #1FBCE9;
    border-radius: 50%;
    display: inline-block;
}

.cost-icon i {
    padding: 20px 15px;
    color: #1FBCE9;
}

.customer-icon {
    border: 3px solid #2FBC3D;
    border-radius: 50%;
    display: inline-block;
}

.customer-icon i {
    padding: 20px 19px;
    color: #2FBC3D;
}


/* OUR VISION */
.our-vision {
    background-color: #100F0F;
    height: 450px;
    margin: 120px 0;
}

.our-vision-image img {
    height: 450px;
}

.out-vision-text p {
    text-align: justify;
    font-size: 18px;
}

/* OUR-FACTORY */
.factory-section {
    background-color: #100F0F;
}

.factory-text p {
    font-size: 17px;
    text-align: justify;
}

/* FOOTER */
.footer-social-icon {
    background-color: #100F0F;
    color: #FFFFFF;
    padding: 80px 0;
}

.footer-contact {
    background-color: #313337;
}






/* MOBILE RESPONSIVE */
@media screen and (max-width: 480px) {

    /* ABOUT-BANNER */
    .about-banner {
        background-image: url(./images/About-Mobile.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    /* know-us-section */
    .know-us-text {
        text-align: justify;
        padding: 0 15px;
    }

    /* OUR VISION */
    .our-vision {
        background-color: #100F0F;
        height: auto;
    }

    /* ABOUT-FEATURES-CARD */
    .about-card {
        height: auto;
        width: 21rem;
        background-color: #100F0F;
        color: #FFFFFF;
        margin: auto;
    }
}



/* TAP RESPONSIVE */
@media screen and (min-width: 768px) and (max-width: 1024px) {

    /* ABOUT-BANNER */
    .about-banner {
        /* background-image: url(./images/768x560-tab.jpg); */
        width: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 26vh;
    }

    /* OUR VISION */
    .our-vision {
        background-color: #100F0F;
        height: auto;
    }

    .our-vision-image img {
        height: 450px;
    }

    /* ABOUT-FEATURES-CARD */
    .about-card {
        height: auto;
        width: 21rem;
        background-color: #100F0F;
        color: #FFFFFF;
        margin: auto;
    }
}