* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.blog-details-banner{
    background-color: #F8F8F8;
    color: #100F0F;
}

.small-img-container{
    background-color: #F8F8F8;
    color: #100F0F;
}
.blogDetails-read-btn {
    border: none;
    background-color: #FC616C;
    font-weight: 600;
    color: #FFFFFF;
    border-radius: 30px;
}

.blogDetails-read-btn:hover {
    background-color: #fc8990;
}

.width-80 {
    width: 80%;
}

/* FOOTER */
.footer-social-icon {
    background-color: #100F0F;
    color: #FFFFFF;
    padding: 80px 0;
}

.footer-contact {
    background-color: #313337;
}

/* MOBILE RESPONSIVE */
@media screen and (max-width: 480px) {

    .width-80 {
        width: 100%;
    }


}


/* Tablet */
/* TAP RESPONSIVE */
@media screen and (min-width: 768px) and (max-width: 1024px) {

    .width-80 {
        width: 100%;
    }
}