* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CONTACT-BANNER */
.contact-banner {
    background-image: url(./images/woven-labels-1024x427.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    height: 550px;
}

/* CONTACT-FORM */
.contact-form-section {
    background-color: #9EC4FB;

}

.contact-container-2 {
    background-color: #02044A;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.form-container {
    width: 80%;
    margin: auto;
    padding: 50px 30px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.contact-icon i {
    color: #0C75FF;
}

.contact-social-icon {
    background-color: #02044A;
    padding: 15px 20px;
    border-radius: 50%;
}

.contact-social-icon:hover {
    background-color: #0C75FF;

}

.contact-icon {
    border: 2px solid #02044A;
    padding: 15px 60px 15px 10px;
    border-radius: 10px;
}

.contact-icon:hover {
    border: 2px solid #0C75FF;
    padding: 15px 60px 15px 10px;
    border-radius: 10px;
    background-color: #040868;
}





.form-control:focus {
    border: 2px solid#0C75FF;
    box-shadow: none;
    -webkit-box-shadow: none;
    /* outline: -webkit-focus-ring-color #0C75FF 10px; */
}

/* FOOTER */
.footer-social-icon {
    background-color: #100F0F;
    color: #FFFFFF;
    padding: 80px 0;
}

.footer-contact {
    background-color: #313337;
}



/* MOBILE RESPONSIVE */
@media screen and (max-width: 480px) {

    /* CONTACT-FORM */
    .form-container {
        width: 100%;
        margin: auto;
        padding: 50px 30px;
    }
}



/* TAP RESPONSIVE */
@media screen and (min-width: 768px) and (max-width: 1024px) {

    /* CONTACT-FORM */
    .form-container {
        width: 100%;
        margin: auto;
        padding: 50px 30px;
    }
}