* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/* HOME-BANNER */
.home-banner {
    background-image: url(./images/1920x1030-new-header.jpg);
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

/* UNIQUENESS-SECTION */
.uniqeness-section {
    /* height: 450px; */
    background-color: #100F0F;
    margin: 120px 0;
}

.uniqueness-icon {
    color: #A6823F;
}


/* Let us Bring Your Value to Your Brand  */
.contact-us-section {
    background-color: #100F0F;
}

.contact-us-title {
    font-size: 62px;
    color: #E5E6EA;
}

.contact-us-btn {
    padding: 12px 60px;
    border-radius: 25px;
    background-color: #A6823F;
    border: 1px solid rgb(50, 154, 228);
    transition: all 0.4s;
}

.contact-us-btn:hover {
    background-color: #100F0F;
    /* border: 1px solid rgb(50, 154, 228); */
    color: rgb(50, 154, 228);
}


/* Some Of Our Works */
.out-works-section {
    background-color: #100F0F;
    margin: 120px 0;
}

.some-works-title {
    font-size: 46px;
    color: #E5E6EA;
    font-weight: 400;
}

.some-work-card img {
    transition: all 0.3s;
}

.some-work-card img:hover {
    transform: translateY(7px);
    filter: brightness(120%);
}

.free-quote-btn {
    border: none;
    padding: 11.5px 0;
    background-color: #454141;
    color: #fff;
    border-left: 2px solid #A6823F;
    font-size: 18px;
    transition: all 0.4s;
}

.free-quote-btn:hover {
    background-color: #fff;
    color: #A6823F;
    border-left: 2px solid #fff;
}


/* ABOUT-US */
.about-us-section {
    background-color: #100F0F;
    color: #E5E6EA;
}

.about-us-text p {
    text-align: justify;
    font-size: 17px;
}

.about-us-text h1 {
    font-weight: 400;
}

/* OUT-CERTIFICATION */
.slick-prev:before,
.slick-next:before {
    color: rgb(164, 157, 157);
}


.slide-arrow {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    color: rgb(164, 171, 171);
}

.prev-arrow {
    left: -20px;

}

.next-arrow {
    right: -20px;
}

/* CUSTOMER-SAY-CARD */
.customers-say {
    background-color: #100F0F;
}

.testimonial {
    width: 80%;
}

.testimonial-card {
    height: 15rem;
    width: 21.5rem;
    background-color: #DFE2E9;
}

.name-avatar {
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 50%;
    /* padding: 6px 5px; */
    background-color: #5C6BC0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: #FFFFFF;

}

.fa-sharp {
    color: #e8a528;
}


/* ALL KINDS OF LABELS AND RIBBONS */
.label-ribons-section {
    background-color: #100F0F;
    color: #FFFFFF;
    margin: 120px 0;
}

.label-ribons-container p {
    text-align: justify;
    font-size: 17px;
}


/* LOCATION MAP */
.location-map {
    background-color: #E6E6E6;
}

/* FOOTER */
.footer-social-icon {
    background-color: #100F0F;
    color: #FFFFFF;
    padding: 80px 0;
}

.footer-contact {
    background-color: #313337;
}




/* MOBILE RESPONSIVE */
@media screen and (max-width: 480px) {

    /* HOME-BANNER */
    .home-banner {
        background-image: url(./images/720x360.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

}


/* TAP RESPONSIVE */
@media screen and (min-width: 768px) and (max-width: 1024px) {

    /* HOME-BANNER */
    .home-banner {
        background-image: url(./images/768x560-tab.jpg);
        width: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        /* height: 80%; */
    }

}